[Unit]
Description=doxa
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash -c "cd [path] && python main.py [port]"

[Install]
WantedBy=multi-user.target